In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
content = pd.read_csv('/Users/Arsalan/Desktop/Content.csv') #content csv
reactions = pd.read_csv('/Users/Arsalan/Desktop/Reactions.csv') #Reaction csv
reaction_types = pd.read_csv('/Users/Arsalan/Desktop/ReactionTypes.csv') #Teaction Type csv

**Data Cleaning**

In [4]:
content.drop('Unnamed: 0',axis=1,inplace=True)
reactions.drop(['Unnamed: 0','User ID'],axis=1,inplace=True)
reaction_types.drop('Unnamed: 0',axis=1,inplace=True)

In [6]:
data = content.merge(reactions, how='left', on='Content ID')
data = data.rename(columns={'Type_x':'Cont_Type','Type_y':'Type'})
data = data.merge(reaction_types, how='left', on='Type')
data = data.rename(columns={'Type':'React_Type'})

In [7]:
data.head()

,Content ID,User ID,Cont_Type,Category,URL,React_Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,NaN,2021-04-22 15:17:15,NaN,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,disgust,2020-11-07 09:43:50,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,dislike,2021-06-17 12:22:51,negative,10.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,scared,2021-04-18 05:13:58,negative,15.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...,disgust,2021-01-06 19:13:01,negative,0.0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25573 entries, 0 to 25572
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  25573 non-null  object
 1   User ID     25573 non-null  object
 2   Cont_Type   25573 non-null  object
 3   Category    25573 non-null  object
 4   URL         20857 non-null  object
 5   React_Type  24573 non-null  object
 6   Datetime    25553 non-null  object
 7   Sentiment   24573 non-null  object
 8   Score       24573 non-null  float64
dtypes: float64(1), object(8)
memory usage: 2.0+ MB

In [9]:
data.isnull().sum()

Content ID       0
User ID          0
Cont_Type        0
Category         0
URL           4716
React_Type    1000
Datetime        20
Sentiment     1000
Score         1000
dtype: int64

In [10]:
data.drop(['URL'],axis=1,inplace=True)

In [11]:
data.head()

,Content ID,User ID,Cont_Type,Category,React_Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,NaN,2021-04-22 15:17:15,NaN,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,disgust,2020-11-07 09:43:50,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,dislike,2021-06-17 12:22:51,negative,10.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,scared,2021-04-18 05:13:58,negative,15.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,disgust,2021-01-06 19:13:01,negative,0.0

In [12]:
data = data.dropna()

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24573 entries, 1 to 25572
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  24573 non-null  object
 1   User ID     24573 non-null  object
 2   Cont_Type   24573 non-null  object
 3   Category    24573 non-null  object
 4   React_Type  24573 non-null  object
 5   Datetime    24573 non-null  object
 6   Sentiment   24573 non-null  object
 7   Score       24573 non-null  float64
dtypes: float64(1), object(7)
memory usage: 1.7+ MB

In [14]:
data.head()

,Content ID,User ID,Cont_Type,Category,React_Type,Datetime,Sentiment,Score
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,disgust,2020-11-07 09:43:50,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,dislike,2021-06-17 12:22:51,negative,10.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,scared,2021-04-18 05:13:58,negative,15.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,disgust,2021-01-06 19:13:01,negative,0.0
5,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,interested,2020-08-23 12:25:58,positive,30.0

In [15]:
data['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', 'Culture', '"food"', 'Food',
       '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [16]:
data['Category']= data['Category'].replace('"', '', regex=True)
data['Category']=data['Category'].str.lower()

In [17]:
data['Category'].unique()

array(['studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'veganism', 'animals', 'culture'],
      dtype=object)

In [18]:
data.to_csv('data.csv', index = False)

In [20]:
data.groupby('Category').agg({"React_Type" : "count"}).reset_index().sort_values(by='React_Type', ascending=False).head(5)

          Category  React_Type
0          animals        1897
9          science        1796
7   healthy eating        1717
6             food        1699
12      technology        1698

In [21]:
data.groupby('Category').agg({"Score" : "sum"}).reset_index().sort_values(by='Score', ascending=False).head()

          Category    Score
0          animals  74965.0
9          science  71168.0
7   healthy eating  69339.0
12      technology  68738.0
6             food  66676.0